.custom-shape-divider-top-1721850041 {
  position: absolute;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1721850041 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 260px;
}

.custom-shape-divider-top-1721850041 .shape-fill {
  fill: #eefbfb;
}
