.ssection {
  width: 60vw;
  margin: 0 auto;
  border: 1px solid blue;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.ssection2 {
  width: 60vw;
  margin: 0 auto;
  border: 1px solid blue;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.yessir {
  background-color: #555555;
}
