.hero-section {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-image {
  display: flex;
  justify-content: center;
}

.hero-image img {
  height: 500px;
}

.wave-divider {
}
